.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 0px 50px 0px 50px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin : 0px auto;
    background-color: #9575cd;
    color :floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color : #0f0f0f;
}
.row-header-ab{
    margin: 10px auto;
    padding: 0px auto;
}

.row-content-ab{
    margin: 10px auto;
    padding: 10 px 10px 0px 10px;
    min-height: 400px;
    border-bottom: 0.5px ridge;
}

.cont{
    margin: 10px auto;
    padding: 10px 10px 0px 10px;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0px;
}

.navbar-dark{
    background-color: #512DA8;
}
.pad{
    padding-left: 50px;
    padding-right: 50px;
}

.bg-table{
    background-color: gold;
    color: #fff;
    font-weight: bold;
}
.padding{
    padding: 0px 0px 0px 0px;
}
.label-pad{
    padding-left: 2px;
    padding-right: 2px ;
    margin-left: 60px;
}
.Reserve{
    background-color: gold;
}
.row-content1{
    min-width: 250px;
}